<div class = "page-content" >
  <section class="module parallax parallax-1">
      <div class="container">
        <h1>Adlerography</h1>
      </div>
  </section>

  <section class="module content">
    <div class="container">
       <h3>Adlerography: Taiwan and China, 2007-2008</h3>
       <p>In 2007 and 2008 I spent extensive time abroad in the Pacific Rim, focusing on Taiwan and Mainland China, where I studied Mandarin Chinese. I carried my camera everywhere, and while my photos tell the story of my travels, they also reflect that in this period I sharpened my sense of how to convey information with purposeful composition, color, and timing. The primary image here on dadler.codes was taken on this trip, in the grasslands outside of <a href="https://www.google.com/maps/place/Xiahe,+Gannan,+Gansu,+China/@35.0611182,93.5345699,5z/data=!4m2!3m1!1s0x3656cb8c2edf46bf:0xc4799755e8509443">Xiahe, China</a>. The original collection of images can be found at <a href="http://adlerography.com">Adlerography</a>.</p>
    </div>
  </section>

  <section class="module parallax parallax-2">
      <div class="container">
        <h1>Bibiflip</h1>
      </div>
  </section>

  <section class="module content">
    <div class="container">
       <h3>The Early Days of Bibi & Flip Winkler, 2012</h3>
       <p>By the time I adopted Bibi and Flip via <a href ="http://www.theittybittykittycommittee.com/">IBKC</a> they were already internet celebrities. So, I kept them in the spotlight with their very own blog. It's just a humble Tumblr, but every website worth its salt needs a good cat photo.</p>
    </div>
  </section>

  <section class="module parallax parallax-3">
      <div class="container">
        <h1>Code Builders</h1>
      </div>
  </section>

  <section class="module content">
    <div class="container">
       <h3>Code Builders Projects, 2015 - Present</h3>
       <p>Since joining <a href ="http://code.builders">Code Builders</a> as a software development apprentice, I’ve jumped into the deep end of the code pool. To date I’ve completed web-based and static projects including SoapBox, a command-line social media network, and FarMar, a simulated database-access program for a nationwide network of farmer’s markets. To assemble these projects I’ve used Ruby, Rails, HTML and CSS – all from the ground up and with no prior experience. All of my work is on <a href ="http://github.com/danieladler/">GitHub</a>.</p>
    </div>
  </section>
</div>
