<div class = "content">
  <div class = "content-left-container">
  </div>
  <div class = "content-right-container">
    <!-- <p class = "p1">
      Hi!
    </p> -->
    <p class = "p1">
      At this part of the internet I go by dadler, but everywhere else they call me Daniel.
    </p>
    <p class = "p1">
      I used to work in education, and now I’m <a href="http://code.builders">learning</a> how to be a software developer.
    </p>
    <p class = "p1">
      I've always been fascinated by user interaction and experience with technology, and now I’m stoked to be getting under the hood.
    </p>
    <p class = "p1">
      I use the word “stoked” because I grew up in California, but for ten years and counting the Pacific Northwest has been my home.
    </p>
    <p class = "p2">
      I spend a lot of time with computers, but I also do human things like listen to <a href="http://kcrw.com/music">groovy</a> <a href="http://soulection.com/radio/">music</a>, play with <a href="https://instagram.com/p/3UosiRgCiO/?taken-by=dadler">animals</a>, cheer/cry for a <a href="http://www.mavs.com/">sports team</a>, <br>and explore my <a href="https://www.google.com/maps/place/Seattle,+WA/@47.6147628,-122.4759888,11z/data=!3m1!4b1!4m2!3m1!1s0x5490102c93e83355:0x102565466944d59a">city</a>.
    </p>
  </div>
</div>
