<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/about.css" media="screen" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="/css/portfolio.css" media="screen" title="no title" charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="/Images/favicon.ico" />
  </head>
  <body>
    <div class = "wrapper">
      <div class = "header-portfolio">
        <div class = "header-container">
          <a href="/index.html">
            <span class = "dadler">dadler</span>
          </a>
          <span class = "page">did:</span>
        </div>
      </div>

      <div class = "page-content" >
        <section class="module parallax parallax-1">
            <div class="container">
              <h1>Adlerography</h1>
            </div>
        </section>

        <section class="module content">
          <div class="container">
             <h3>Adlerography: Taiwan and China, 2007-2008</h3>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>

        <section class="module parallax parallax-2">
            <div class="container">
              <h1>El Puente 2011</h1>
            </div>
        </section>

        <section class="module content">
          <div class="container">
             <h3>El Puente 2011 Live Blog</h3>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>

        <section class="module parallax parallax-3">
            <div class="container">
              <h1>Code Builders</h1>
            </div>
        </section>

        <section class="module content">
          <div class="container">
             <h3>Code Builders Projects</h3>
             <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
      </div>

    </div>
  </body>
</html>
