.content {
  margin:     0 auto;
  margin-top: 11vh;
  max-width:  1075px;
  width:      100%;
  }

.content:after {
  content: "";
  clear:   both;
  display: block;
}

.content-left-container {
  width:       30%;
  margin-left: 0;
  float:       left;
}

.content-left-container:after {
  content: "";
  clear:   both;
  display: block;
}

.content-right-container {
  margin:     0 auto;
  padding:    20px 11px 0 0 ;
  width:      70%;
  text-align: right;
  float:      right;
  /*text-shadow: 1px 0px 0px;*/
}

.content-right-container .p1 {
  margin-left: 50px;
}

.content-right-container .p2 {
  margin-left: 150px;
}

.footer.footer-about {
  background-color: rgba(22, 162, 244, 0.65);
}
